.menu{
    padding-top:3%;
}
.list{
    display:flex;
    justify-content: space-between;
}
.item{
    border: 1px solid black;
    width: 18%;
    height: 300px;
}
.image{
    padding-top: 5%;
    width:100%;
    height:200px;
}